@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: white;
  --foreground: #171717;
}

.dark {
  --background: #171717;
  --foreground: white;
}

body {
  background: var(--background);
  color: var(--foreground);
}